.btn-link {
	padding-left: 0;
}

.table-container {
	padding: 20px;
}

.form-input {
	padding: 20px 0;
}

label {
	width: 70px;
}

ul.employees {
	padding-left: 0;
}

ul.employees li {
	list-style-type: none;

}

span.delete {
	color: #aaa;
	cursor: pointer;
	margin-left: 30px;

}