.btn-link {
	padding-left: 0;
}

.table-container {
	padding: 20px;
}

.form-input {
	padding: 20px 0;
}

label {
	width: 70px;
}

ul.employees {
	padding-left: 0;
}

ul.employees li {
	list-style-type: none;

}

span.delete {
	color: #aaa;
	cursor: pointer;
	margin-left: 30px;

}

img.client-avatar {
	width: 100px;
	float: left;
	margin-right: 10px;
	padding-bottom: 30px;
	clear: left;
}

.client-title {
	float: left;
	margin-top: 25px;
}

.admin-links {
	clear:left;
}

.pagination {	
    margin-top: 50px !important;
}

.alert-danger {
    background: #ff9999;
    border-radius: 0;
}

.alert-success {
	border-radius: 0;
}

ul.nav.nav-pills .nav-sidebar-flex-column li.nav-item a.nav-link {
	background-color: #007bff !important;
}

label {
	width: 140px;
}

label.form-check-label {
    width: 500px;
}

.back-link {
    display: block;
    margin-bottom: 20px;
}

.delete_x {
	cursor: pointer;
}